Architecture: windows_x64
CompatibilityVersion: 170500
Conflicts: ni-package-manager
Description: End-User License Agreement
DisplayName: eula-ni-svn-license
EulaPriority: 0
EulaTitle: eula-ni-svn-license
Maintainer: National Instruments Corp. <support@ni.com>
Package: eula-ni-svn-license
Plugin: eula
Section: Infrastructure
UserVisible: no
Version: 2.0.0.5
