Architecture: windows_x64
CompatibilityVersion: 170500
Conflicts: ni-package-manager
Description: End-User License Agreement
DisplayName: 
EulaPriority: 0
EulaTitle: 
Maintainer: 
Package: 
Plugin: eula
Section: Infrastructure
UserVisible: no
Version: 2.0.0.3
