Architecture: windows_x64
Built-Using: nipkg
CompatibilityVersion: 170006
Depends: ni-labview-nxg-3.0.0 (>= 6.2.0.49152)
Description: SVN Toolkit
DisplayName: SVN Toolkit
Essential: no
Eula: eula-ni-svn-license
Homepage: https://github.com/ni/nxg-svn/
Maintainer: National Instruments Corp. <support@ni.com>
Package: ni-svntoolkit-base-ext-3
Plugin: file
Priority: optional
Provides: 
Recommends: 
Section: Add-Ons
StoreProduct: Yes
Suggests: 
UserVisible: Yes
Version: 3.0.0.5
