<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime" version="15.0.25726-Preview5" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6070" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="7.10.6071" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="8.0.50727" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6070" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="8.0.50727" targetFramework="net452" />
  <package id="MvvmCross.Binding" version="4.4.0" targetFramework="net452" />
  <package id="MvvmCross.Core" version="4.4.0" targetFramework="net452" />
  <package id="MvvmCross.Platform" version="4.4.0" targetFramework="net452" />
  <package id="NLog" version="4.4.8" targetFramework="net452" />
  <package id="SharpSvn.1.8-x86" version="1.8017.3940.496" targetFramework="net452" />
  <package id="SharpSvn.1.9-x86" version="1.9005.3957.231" targetFramework="net452" />
</packages>