<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.50.3" targetFramework="net461" />
  <package id="Castle.Core" version="4.1.0" targetFramework="net461" />
  <package id="FluentAssertions" version="4.19.3" targetFramework="net461" />
  <package id="Moq" version="4.7.63" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.1.11" targetFramework="net452" />
  <package id="MSTest.TestFramework" version="1.1.11" targetFramework="net452" />
  <package id="MvvmCross" version="5.0.5" targetFramework="net461" />
  <package id="MvvmCross.Binding" version="5.0.5" targetFramework="net461" />
  <package id="MvvmCross.Core" version="5.0.5" targetFramework="net461" />
  <package id="MvvmCross.Platform" version="5.0.5" targetFramework="net461" />
  <package id="MvvmCross.Plugin.File" version="5.0.5" targetFramework="net461" />
  <package id="MvvmCross.Plugin.Messenger" version="5.0.5" targetFramework="net461" />
  <package id="MvvmCross.Plugin.Network" version="5.0.5" targetFramework="net461" />
  <package id="SharpSvn.1.9-x86" version="1.9005.3957.231" targetFramework="net452" />
</packages>